.main {
    margin-top: 60px;
}

.main .container {
    max-width: 1200px;
}

.main .heading {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    background: #034ea1;
    display: inline-block;
    color: #fff;
    padding: 0;
    width: 300px;
}

.main .products {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
    flex-wrap: wrap;

    gap: 22px;
    justify-content: center;
}

.main .product_item {
    margin-top: 30px;
    border: 1px solid #efefef;
    padding: 10px;
}

.main .product_item:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.main .product_item a {
    text-decoration: none;
    color: #000;
}

.main .product_item .product_img img {
    width: 214px;
}

.main .product_desc {
    font-size: 14px;
    text-align: left;
    border-top: 1px solid #e1e1e1;
    margin-top: 30px;
}

.main .product_name {
    font-weight: 500;
    margin-top: 10px;
}

.main .product_tag {
    color: #212121;
    font-size: 11px;
}

.main .product_price {
    color: #ed4e4e;
    font-weight: 400;
    font-size: 16px;
    margin: 7px 0;

}

.main .btn {
    background-color: #f72b3f;
    border: none;
    width: 100%;
    opacity: 0;
}

.main .product_item:hover .btn {
    opacity: 1;
    transition: all 0.5;
}



.cart-add-neg {
    color: #000;
    background-color: #fff;
    border: 1px solid #7e7272;
    font-size: 13px;
    margin-right: 10px;
}